    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>ScalABM</h2>
                <p>ScalABM is a toolkit for building scalable, data-driven agent-based models of complex systems. The core API is being developed in <a href="http://www.scala-lang.org/">Scala</a> and <a href="http://akka.io/">Akka</a> while the actual models themselves will be built as web applications using the <a href="https://www.playframework.com/">Play framework</a> in order to leverage cutting-edge, browser-based tools for data analysis and visualization.</p>
            </div>
        </div>
    </section>